@main("Activities") {

  <div id="container" class="">     
    <header class="header black-bg">
      <a href="" class="logo"><b>PACEMAKER</b></a>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="">Logout</a></li>
        </ul>
      </div>
    </header>       
    <div class="wrapper">         
      <div class="col-lg-3 ds">   
		<a href=""><h2>ACTIVITIES</h2></a>                          
        <div class="desc">
          <form>
            <input type="text" class="form-control" name="" placeholder="" autofocus=""><br>
            <input type="text" class="form-control" name="" placeholder=""><br>		               
            <button class="btn btn-blue btn-block" type="submit"><i class="fa fa-plus"></i> ADD</button>
          </form>
        </div>
      </div>
      <div class="col-lg-9">         
        <div class="row mtbox">
          <div class="col-md-2 col-sm-2 col-md-offset-2 box0">
            <div class="box1">
			   <a href="/index"><span class=" fa fa-dashboard"></span><h4>Dashboard</h4></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 box0">
            <div class="box1">
			  <a href="/reports"><span class="fa fa-file-text"></span><h4>Reports</h4></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 box0">
            <div class="box1">
			  <a href="/activities"><span class="fa fa-calendar"></span><h4>Activities</h4></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 box0">
            <div class="box1">
			  <a href="/friends"><span class="fa fa-users"></span><h4>Friends</h4></a>
            </div>
          </div>
        </div>  	
        <div class="centered">
	      <h2>My Activity Totals</h2>
	    </div>	         
        <div class="row mt">
          <div class="col-md-4 col-sm-4 mb">
            <div class="activities-white-panel pn">
              <div class="white-header">
		        <h5>TOTAL MI</h5>
              </div>
			  <div class="row">
			    <div class="col-sm-6 col-xs-6 goleft">
				  <p><i class="fa fa-road"></i></p>
				</div>
				<div class="col-sm-6 col-xs-6"></div>
	          </div>
	          <div class="centered">
                <h2>0</h2>
	          </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 mb">
            <div class="activities-white-panel pn">
              <div class="white-header">
		        <h5>TOTAL ACTIVITIES</h5>
              </div>
			<div class="row">
			  <div class="col-sm-6 col-xs-6 goleft">
		        <p><i class="fa fa-car"></i></p>
		      </div>
		      <div class="col-sm-6 col-xs-6"></div>
	        </div>
	        <div class="centered">
              <h2>0</h2>
	        </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 mb">
          <div class="activities-white-panel pn">
            <div class="white-header">
		      <h5>TOTAL CALORIES</h5>
            </div>
			<div class="row">
			  <div class="col-sm-6 col-xs-6 goleft">
		        <p><i class="fa fa-fire"></i> 122</p>
		      </div>
		      <div class="col-sm-6 col-xs-6"></div>
	        </div>
	        <div class="centered">
              <h2>0</h2>
	        </div>
          </div>
        </div>
      </div>
      <div class="centered">
	    <h2>Recent Activities</h2>
	  </div>
      <div class="row">
        <div class="col-md-12 mb">
          <div class="darkblue-panel pn">
            <div class="darkblue-header">
			  <h5>STATICS</h5>
            </div>
            <p>Date example</p>
			<footer>
			  <div class="pull-left">
		        <h5><i class="fa fa-hdd-o"></i> ll</h5>
		      </div>
		      <div class="pull-right">
			    <h5>Number</h5>
		      </div>
		    </footer>
          </div>
	    </div>
      </div>
	</div>
  </div>
</div>
</div>
<footer class="site-footer">
  <div class="text-center">
    2015 - Pacemaker
  </div>
</footer>
</div>

}