@(user : User, activity:Activity)

@main("Activities") {

  <div id="container" class="">     
    <header class="header black-bg">
      <a href="" class="logo"><b>PACEMAKER</b></a>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="/logout">Logout</a></li>
        </ul>
      </div>
    </header>       
    <div class="wrapper">         
      <div class="col-lg-3 ds">
		<h2>ACTIVITIES</h2>                          
        <div class="desc">
          <table class="table table-hover">
            <thead>
              <tr>
                <td><strong>Date</strong></td>
                <td><strong>Type</strong></td>
                <td><strong>Distance</strong></td>
              </tr>
            </thead>
            <tbody>
              <ul>               
                @for(act <- user.activities) {
                  <tr class='clickableRow' href="/users/@user.id/activities/@act.id">
                    <td>@act.category</td>  
		            <td>@act.distance</td>  
		            <td>@act.date</td> 
          	      </tr>
                }
              </ul>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-9">         
        <div class="row mtbox">
          <div class="col-md-2 col-sm-2 col-md-offset-2 box0">
            <div class="box1">
	          <a href="/users/@user.id/index"><span class="fa fa-dashboard"></span><h4>Dashboard</h4></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 box0">
            <div class="box1">
	          <a href="/users/@user.id/reports"><span class="fa fa-file-text"></span><h4>Reports</h4></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 box0">
            <div class="box1">
	          <a href="/users/@user.id/activities"><span class="fa fa-calendar"></span><h4>Activities</h4></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 box0">
            <div class="box1">
	          <a href="/users/@user.id/friends"><span class="fa fa-users"></span><h4>Friends</h4></a>
            </div>
          </div>
        </div>  	
        <div class="centered">
	      <h2>Activity: @activity.category</h2><p>(No: @activity.id)</p>
	    </div>	         
        <div class="row mt">
          <div class="col-md-3 col-sm-3 mb">
            <div class="activities-white-panel pn">
              <div class="white-header">
		        <h5>KM</h5>
              </div>
			  <div class="row">
			    <div class="col-sm-3 col-xs-3 goleft">
		          <p><i class="fa fa-road"></i></p>
		        </div>
		        <div class="col-sm-6 col-xs-6"><h2>@activity.distance</h2></div>
	          </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 mb">
            <div class="activities-white-panel pn">
              <div class="white-header">
		        <h5>DURATION</h5>
              </div>
	        <div class="row">
	          <div class="col-sm-3 col-xs-3 goleft">
		        <p><i class="fa fa-clock-o"></i></p>
		      </div>
		      <div class="col-sm-6 col-xs-6"><h2>@activity.duration</h2></div>
	        </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 mb">
          <div class="activities-white-panel pn">
            <div class="white-header">
		      <h5>AVERAGE SPEED</h5>
            </div>
	        <div class="row">
	          <div class="col-sm-3 col-xs-3 goleft">
		        <p><i class="fa fa-paper-plane-o"></i></p>
		      </div>
		      <div class="col-sm-6 col-xs-6"><h2>@activity.averageSpeed</h2></div>
	        </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 mb">
          <div class="activities-white-panel pn">
            <div class="white-header">
		      <h5>CALORIES BURNED</h5>
            </div>
	        <div class="row">
		      <div class="col-sm-3 col-xs-3 goleft">
		        <p><i class="fa fa-fire"></i></p>
		      </div>
		      <div class="col-sm-6 col-xs-6"><h2>@activity.caloriesBurned</h2></div>
	        </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
 </div>
</div>
<footer class="site-footer">
  <div class="text-center">
    2015 - Pacemaker
  </div>
</footer>
</div>

}