@(user : User)

@main("Index") {

  <div id="container" class="">     
    <header class="header black-bg">
      <a href="" class="logo"><b>PACEMAKER</b></a>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="/logout">Logout</a></li>
        </ul>
      </div>
    </header>       
    <div class="wrapper">         
      <div class="col-lg-3 ds">
        <h5 class="centered"><strong>LOGGED IN: </strong> @user.firstname @user.lastname</h5>  
		<h3>INFO</h3>                          
        <div class="desc">
          <div class="thumb">
            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
          </div>
          <div class="details">
            <p><muted><strong>EMAIL: </strong></muted><br>@user.email</p>
          </div>
        </div>
        <div class="desc">
          <div class="thumb">
            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
          </div>
          <div class="details">
            <p><muted><strong>NATIONALITY: <strong></muted><br>@user.nationality</p>
          </div>
        </div>
		<h3>STATS</h3>
        <div class="desc">
          <div class="details">
            <p>TOTAL ACTIVITIES: <br>
              <muted>0</muted>
            </p>
          </div>
        </div>
        <div class="desc">
          <div class="details">
            <p>TOTAL DISTANCE: <br>
              <muted>0 mi</muted>
            </p>
          </div>
        </div>
        <div class="desc">
          <div class="details">
            <p>TOTAL CALORIES: <br>
              <muted>0</muted>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-9">         
        <div class="row mtbox">
          <div class="col-md-2 col-sm-2 col-md-offset-2 box0">
            <div class="box1">
			  <a href="/index"><span class=" fa fa-dashboard"></span><h4>Dashboard</h4></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 box0">
            <div class="box1">
			  <a href="/reports"><span class="fa fa-file-text"></span><h4>Reports</h4></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 box0">
            <div class="box1">
			  <a href="/users/@user.id/activities"><span class="fa fa-calendar"></span><h4>Activities</h4></a>
            </div>
          </div>
          
          <div class="col-md-2 col-sm-2 box0">
            <div class="box1">
			  <a href="/friends"><span class="fa fa-users"></span><h4>Friends</h4></a>
            </div>
          </div>
        </div>  	
        <div class="centered">
	      <h2>My Activity Totals</h2>
	    </div>	         
        <div class="row mt">
          <div class="col-md-4 col-sm-4 mb">
            <div class="white-panel pn">
              <div class="white-header">
		        <h5>TOTAL MI</h5>
              </div>
			  <div class="row">
			    <div class="col-sm-6 col-xs-6 goleft">
				  <p><i class="fa fa-road"></i></p>
				</div>
				<div class="col-sm-6 col-xs-6"></div>
	          </div>
	          <div class="centered">
                <h2>0</h2>
	          </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 mb">
            <div class="white-panel pn">
              <div class="white-header">
		        <h5>TOTAL ACTIVITIES</h5>
              </div>
			<div class="row">
			  <div class="col-sm-6 col-xs-6 goleft">
		        <p><i class="fa fa-car"></i></p>
		      </div>
		      <div class="col-sm-6 col-xs-6"></div>
	        </div>
	        <div class="centered">
              <h2>0</h2>
	        </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 mb">
          <div class="white-panel pn">
            <div class="white-header">
		      <h5>TOTAL CALORIES</h5>
            </div>
			<div class="row">
			  <div class="col-sm-6 col-xs-6 goleft">
		        <p><i class="fa fa-fire"></i> 122</p>
		      </div>
		      <div class="col-sm-6 col-xs-6"></div>
	        </div>
	        <div class="centered">
              <h2>0</h2>
	        </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4 centered">
        <a href="/postactivity"><h2>Post New Activity</h2></a>  
	  </div>
	  <div class="col-lg-4"></div>
	</div>
  </div>
</div>
</div>
<footer class="site-footer">
  <div class="text-center">
    2015 - Pacemaker
  </div>
</footer>
</div>

}